/* chess */
main {
    background-color: rgba(0, 0, 0, 0.87);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board {
    width: 640px;
    height: 640px;
    border: 20px solid #4b52fd;
    display: flex;
    flex-wrap: wrap;
}
.square {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black {
    background-color: #ff69fc;
}
.white {
    background-color: #f6f6f6;
}
.figure {
    font-size: 60px;
    cursor: pointer;
}
.pre-move {
    cursor: pointer;
}
.pre-move:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #718096;
}
.pre-move_eat {
    background-color: rgba(255, 0, 0, 0.81);
    cursor: pointer;
}
